
<template>
    <div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">{{$t('Dashboard Configuration')}}</h1>
        </div>

        <div class="col-md-6">
                <div class="form-group">
                    <label for="">{{$t('Label')}}</label>
                    <div>
                        <b-form-input v-model="dashboard_item.attributes.label"  class="mb-3" />

                    </div>

                </div>
                <div class="form-group">
                    <label for="">{{$t('Size')}}</label>
                    <div>
                        <b-form-select v-model="dashboard_item.attributes.size"   :options="size_options" class="mb-3" />

                    </div>

                </div>

            <div class="chartcontainer">

               <LineChart v-if ="loaded && dashboard_item.attributes.chart_key==='line'" v-bind:dashboardItem="dashboard_item"></LineChart>
               <BarChart v-if ="loaded && dashboard_item.attributes.chart_key==='bar'" v-bind:dashboardItem="dashboard_item"></BarChart>
               <TextLabel  v-if ="loaded && dashboard_item.attributes.chart_key==='text'" v-bind:dashboardItem="dashboard_item"></TextLabel>
               <Liquid  v-if ="loaded && dashboard_item.attributes.chart_key==='liquid'" v-bind:dashboardItem="dashboard_item"></Liquid>
            </div>


        </div>
        <div class="col-md-6">
            <b-alert variant="success" :show="show" dismissible>{{$t('Saved')}}</b-alert>


                <div class="form-group">
                    <label for="">{{$t('Datasource')}}</label>
                    <div>
                        <b-form-select v-model="dashboard_item.attributes.datasource_id"  @change="getKeyConfig"  :options="datasource_options" class="mb-3" />

                    </div>

                </div>

                <div class="form-group">
                    <label for="">Charts</label>
                    <div>
                        <b-form-select v-model="dashboard_item.attributes.chart_key" :options="chart_options" class="mb-3" />
                    </div>

                </div>
                <div  class="form-group">
                    <label for="">X-Axis</label>


                </div>
                <b-tabs>
                    <b-tab v-if="loaded" v-for="(item, index) in sensor_key_options" :title="getTitelConfig(item)" :key="getUniqueIndex(item)" >
                        <div class="form-group">
                            <label for="name">{{$t('Label')}}</label>

                           <input class="form-control" v-model="sensor_key_options[index].name"  placeholder="" />
                        </div>
                        <div class="form-group" v-if="dashboard_item.attributes.chart_key=='liquid'">
                            <label for="name">Suffix</label>

                           <input class="form-control" v-model="sensor_key_options[index].suffix"  placeholder="i.e %" />
                        </div>
                        <div class="form-group">

                          <swatches-picker v-model="sensor_key_options[index].color" />
                        </div>
                        <div  class="form-group">
                            <label for="">Y-Axis</label>
                            <div>
                                <b-form-select v-model="sensor_key_options[index].YAxis" :options="sensor_val_options" class="" />
                            </div>

                        </div>

                    </b-tab>


                </b-tabs>




                <input type="button" :value="$t('delete')" class="btn btn-small btn-danger" v-on:click="deleteDashboardItem()" />
                <input type="button" :value="$t('save')" class="btn btn-small btn-primary" v-on:click="save()" />


        </div>

    </div>
    <div class="row">
    <div class="col-md-12">

        <sensor-datatable v-if="dashboard_item.attributes.sensor_id > '0'" v-bind:sensor_id="dashboard_item.attributes.sensor_id"></sensor-datatable>
    </div>
    </div>
</div>
</template>

<script>
    import VueApexCharts from 'vue-apexcharts'

    import { Swatches } from 'vue-color'
    import { mapActions, mapGetters, mapSetters } from 'vuex';

            export default {
                name: 'ConfigureChart',
                components: {
                    'apexchart': VueApexCharts ,  'swatches-picker': Swatches
                },
                mounted() {
                    this.loaded = false;


                    this.loadAllDatasources();



                    if(this.$route.params.item_id>0)
                    {


                        this.loadDashboardItem({id:this.$route.params.item_id}).then(()=>{

                                this.dashboard_item=this.getDashboardItem({id:this.$route.params.item_id});
                                this.sensor_key_options=this.dashboard_item.attributes.sensor_data_key;

                                this.loaded=true;


                        });

                    }else{
                      this.dashboard_item.attributes.dashboard_id=this.$route.params.dashboard_id;

                    }

                },
                data() {
                    return {

                        id: "",
                        dashboard_item: {
                            id: "",
                            attributes:{
                                dashboard_id: "",
                                datasource_id: "",
                                sensor_data_key: [],
                                sensor_data_val: "",
                                created_at: "",
                            },


                        },

                        selected_values:{},
                        selected_keys:[],
                        colors:"",
                        sensor_data: [],
                        show: false,
                        sensor_data_key:[],
                        item:[],
                        sensor_key_options: [],

                        sensor_val_options: [{value: "created_at", text: "created"}, {value: "value", text: "value"}],
                        chart_options: [{value: "line", text: "Line Chart"}, {value: "bar", text: "Bar Chart"}, {value: "liquid", text: "Liquid"}, {value: "text", text: "Text"}],
                        loaded: false,


                }},


                methods: {
                    ...mapActions({
                        loadAllDatasources: 'dataSources/loadAll',
                        loadSensorDataKey: 'sensorDatas/loadWhere',
                        loadDashboardItem : 'dashboardItems/loadById'
                        }
                    ),
                    save() {
                        let currentObj = this;




                        if (this.dashboard_item.id > 0)
                        {
                          const dashboardItem = this.$store.getters['dashboardItems/byId']({ id: this.dashboard_item.id });
                          dashboardItem.attributes.chart_key = this.dashboard_item.attributes.chart_key;
                          dashboardItem.attributes.datasource_id = this.dashboard_item.attributes.datasource_id;
                          dashboardItem.attributes.sensor_data_key=this.sensor_key_options;
                          dashboardItem.attributes.size=this.dashboard_item.attributes.size;
                          dashboardItem.attributes.label=this.dashboard_item.attributes.label;


                          const res= this.$store.dispatch('dashboardItems/update', dashboardItem).then((res) => {
                              this.dashboard_ite=res;
                              this.show=true;
                          });

                        }
                        else
                        {
                          const recordData = {
                              attributes: {
                                datasource_id: this.dashboard_item.attributes.datasource_id,
                                dashboard_id: this.$route.params.dashboard_id,
                                chart_key: this.dashboard_item.attributes.chart_key,
                                sensor_data_key: this.sensor_key_options,
                                sensor_data_val: this.dashboard_item.attributes.sensor_data_val,
                                label: this.dashboard_item.attributes.label,
                                size:this.dashboard_item.attributes.size
                              },
                            };
                            this.$store.dispatch('dashboardItems/create', recordData).then(() => {
                              const dashboardItems = this.$store.getters['dashboardItems/lastCreated'];
                              this.dashboard_item=dashboardItems;
                          });
                        }
                    },

                    deleteDashboardItem() {
                        const Id = { id: this.dashboard_item.id };
                        this.$store.dispatch('dashboardItems/delete', Id);
                    },
                    getTitelConfig(x){

                      return x.key+" "+x.sensor_id;
                    },
                    getKeyConfig(id){

                      this.getSensorKeyOptions(id);
                    },
                    getUniqueIndex: function(x){

                        return x.key+x.sensor_id;
                    },
                    getSensorKeyOptions(id) {

                            let currentObj = this;
                            currentObj.sensor_key_options=[];
                            axios.get('/sensorDatas/' + id + '/data/key', {})
                                .then(function (response) {
                                    currentObj.sensor_key_options = [];
                                    $.each(response.data, function (key, value) {

                                        currentObj.sensor_key_options.push(
                                            {
                                                "key":response.data[key].key,
                                                "sensor_id": response.data[key].sensor_id,
                                                "name":"",
                                                color:{}
                                            }
                                        );

                                    });
                                })
                                .catch(function (error) {
                                    currentObj.output = error;
                                });
                                this.loaded=true;
                    },




                },computed: {
                    //@todo can be removed
                    datasource_options: function(){

                        let datasource_options=[];
                        for (let key in this.dataSource){

                            datasource_options.push(
                                    {
                                        "value": this.dataSource[key].id,
                                        "text": this.dataSource[key].attributes.name
                                    }
                            );

                        }
                        return datasource_options;
                    },
                    size_options: function(){
                      let i=0;
                      let options=[];
                      while(i<12)
                      {
                          i++;
                          options.push({"value":i, "text":i});

                      }
                      return options;
                    },

                    ...mapGetters({
                            sensors: 'sensors/all',
                            getDashboardItem: 'dashboardItems/byId',
                            dataSource: 'dataSources/all',
                            },


                    ),
                }
            }
</script>

<style scoped>

</style>
