
<template>
    <div class="row ">
        <div v-if="dashboard_item_list.length===0">
            <router-link :to="{ name: 'ConfigureSensor', params: { dashboard_id: id, item_id:0 }}"  >
                <input type="button" :value="$t('Add your first Chart')" class="btn btn-small btn-primary"  />

            </router-link>
        </div>

        <div v-for="(item, index) in dashboard_item_list" :class="getClassName(item.attributes.size)">
            <div class="rounded-0 card   ">
                <div class="card-header ">


                    <span >{{item.attributes.label}}</span>

                    <b-dropdown text="" class="m-md-2 float-right ">
                        <b-dropdown-item>
                            <router-link :to="{ name: 'ConfigureSensor', params: { dashboard_id: id, item_id:0 }}"  >
                                {{$t('add')}}
                        </router-link>
                    </b-dropdown-item>
                    <b-dropdown-item>

                        <router-link :to="{ name: 'ConfigureSensor', params: { dashboard_id: id, item_id: item.id }}">
                            {{$t('edit')}}
                    </router-link>
                </b-dropdown-item>
                <b-dropdown-divider />
                <b-dropdown-item  @click="deleteDashboardItem(item.id)">

                    {{$t('delete')}}

                </b-dropdown-item>
                <b-dropdown-divider />
                <b-dropdown-item  @click="">

                    Show Fullscreen

                </b-dropdown-item>
                <b-dropdown-divider />
                <b-dropdown-item  @click="increaseDashboardItem(item.id)">

                    {{$t('increase')}} +

                </b-dropdown-item>
                <b-dropdown-item  @click="decreaseDashboardItem(item.id)">

                    {{$t('decrease')}}  -

                </b-dropdown-item>
            </b-dropdown>





        </div>
        <div class="card-body">
            <LineChart v-if ="loaded && item.attributes.chart_key==='line'" v-bind:dashboardItem="item"></LineChart>
            <BarChart v-if ="loaded && item.attributes.chart_key==='bar'" v-bind:dashboardItem="item"></BarChart>
            <TextLabel  v-if ="loaded && item.attributes.chart_key==='text'" v-bind:dashboardItem="item"></TextLabel>
            <Liquid  v-if ="loaded && item.attributes.chart_key==='liquid'" v-bind:dashboardItem="item"></Liquid>

        </div>
    </div>
</div>

</div>

</div>

</template>


<script>

    import { mapActions, mapGetters, mapSetters } from 'vuex';

    export default {

        data() {
            return {
                loaded: false,
                id: "1",

                dashboard: {
                    id: "0",
                    attributes: {
                        name: "",
                        style: "black"
                    }

                },

                dashboard_item_list: [
                    {
                        id: "",
                        sensor_id: "",
                        dashboard_id: 1,
                        sensor_data_key: "",
                        sensor_data_val: "",
                        created_at: "",
                        chart_key: "",
                        attributes: {size: 3, sensor_data_key: []}

                    }
                ],

            };
        },
        mounted() {

            this.id = this.$route.params.id;
            this.$store.dispatch('dashboards/loadById', {id: this.id})
                    .then(() => {
                        this.dashboard = this.$store.getters['dashboards/byId']({id: this.id});
                        this.$emit('style-change', this.dashboard.attributes.style)
                    });
            this.getDashboardItems(this.id);

        },
        methods: {
            ...mapActions({

                    loadSensorData: 'sensorDatas/loadPage',

            }
            ),
            deleteDashboardItem(id) {

                const dashboardItemsID = {"id": id};
                this.$store.dispatch('dashboardItems/delete', dashboardItemsID);

            },
            increaseDashboardItem(id) {
                const dashboardItem = this.$store.getters['dashboardItems/byId']({"id": id});
                if (dashboardItem.attributes.size == 12)
                    return false;
                dashboardItem.attributes.size = dashboardItem.attributes.size + 1;


                const res = this.$store.dispatch('dashboardItems/update', dashboardItem).then(() => {

                });
            },
            decreaseDashboardItem(id) {
                const dashboardItem = this.$store.getters['dashboardItems/byId']({"id": id});
                if (dashboardItem.attributes.size == 1)
                    return false;
                dashboardItem.attributes.size = dashboardItem.attributes.size - 1;


                const res = this.$store.dispatch('dashboardItems/update', dashboardItem).then(() => {

                });
            },
            getClassName(size) {
                if (size > 12 || size < 1)
                {
                    size = 3;
                }
                return "mb-4 col-md-" + size;
            },
            sensorNames(item) {

                return item.map(function (value, key, array) {
                    let sensor = Object.keys(item[key]);
                    return item[key][sensor].name;
                })
            },
            //get all Dashboard items
            getDashboardItems(dashboard_id) {

                const filter = {
                    "dashboard_id": dashboard_id,
                };
                let currentObj = this;
                this.$store.dispatch('dashboardItems/loadWhere', {filter}).then(() => {

                    currentObj.dashboard_item_list = this.$store.getters['dashboardItems/where']({filter});

                    currentObj.loaded = true;
                });
            },

        },
        computed: {

            ...mapGetters({

                    hasNext: 'sensorDatas/hasNext',
                    hasPrev: 'sensorDatas/hasPrevious',
            },
                    ),

        },
        watch: {
            $route(to, from) {
                this.id = this.$route.params.id;
                this.$store.dispatch('dashboards/loadById', {id: this.id})
                        .then(() => {
                            this.dashboard = this.$store.getters['dashboards/byId']({id: this.id});
                            this.$emit('style-change', this.dashboard.attributes.style);
                        });
                this.getDashboardItems(this.id);
            }
        }
    }
</script>

<style>


</style>
