<template>
    <div>

        <apexchart  type="bar" :options="options" :series="series"></apexchart>
    </div>
</template>
<script>
    import VueApexCharts from 'vue-apexcharts';
    import { mapActions, mapGetters, mapSetters } from 'vuex';
    export default {
        props: ['dashboardItem'],
        name: "BarChart",
        components: {'apexchart': VueApexCharts},
        data() {
            return {

                series: [{
                        name: '',
                        data: []
                    }],
                options: {
                    chart: {
                        stacked: false,
                        zoom: {
                            type: 'x',
                            enabled: true
                        },
                        toolbar: {
                            autoSelected: 'zoom'
                        },

                    },
                    plotOptions: {
                        line: {
                            curve: 'smooth',
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },

                    markers: {
                        size: 0,
                        style: 'full',
                    },
                    xaxis: {
                        type: 'datetime',
                    },
                },
            }
        },
        mounted() {

            this.prepare();
        },
        methods: {

            prepare() {


                let datasource_id = this.dashboardItem.attributes.datasource_id;
                let sensor_data_key = this.dashboardItem.attributes.sensor_data_key;
                let chartData = [];
                let color = [];
                this.getSensorData(datasource_id).then((result) => {

                    for (let key_index in sensor_data_key) {



                        let sensor_name = sensor_data_key[key_index].name;
                        color.push(sensor_data_key[key_index].color.hex);
                        let prepare_chartdata = {};
                        prepare_chartdata.name = sensor_name;
                        prepare_chartdata.data = [];
                        for (let index in result) {

                            //key + sensorid = index
                            if (result[index].key == sensor_data_key[key_index].key && result[index].sensor_id == sensor_data_key[key_index].sensor_id)
                            {
                                let t = result[index].created_at.split(/[- :]/);
                                var d = new Date(Date.UTC(t[0], t[1] - 1, t[2], t[3], t[4], t[5]));
                                prepare_chartdata.data.push([d, result[index].value]);
                            }
                        }
                        chartData.push(prepare_chartdata);



                    }
                    this.series = chartData;
                    this.options = {
                        chart: {
                            stacked: false,
                            zoom: {
                                type: 'x',
                                enabled: true
                            },
                            toolbar: {
                                autoSelected: 'zoom'
                            }
                        },
                        colors: color,
                        fill: {
                            colors: color
                        },
                        plotOptions: {
                            line: {
                                curve: 'smooth',
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },

                        markers: {
                            size: 0,
                            style: 'full',
                        },
                        xaxis: {
                            type: 'datetime',

                        },
                    }
                });


            },

            getSensorData(datasource_id) {


                let vm = this;
                vm.loading = true;
                const token = localStorage.getItem('token');

                axios.defaults.headers.common['Authorization'] = `Bearer ${token}`;
                return axios.post('/sensorDatas/datasourID/' + datasource_id, {page: 1})
                        .then(({data}) => {

                            return data.data;

                        });


            },
            ...mapActions({

                    loadSensorData: 'sensorDatas/loadPage',

            }
            ),
        }
    }
</script>
