<template>
    <div>

        <apexchart ref="chartObj" type="area" :options="options" :series="series"></apexchart>

    </div>
</template>
<script>
    import VueApexCharts from 'vue-apexcharts';
    import { mapActions, mapGetters, mapSetters } from 'vuex';
    export default {
        props: ['dashboardItem'],
        name: "LineChart",
        components: {apexchart: VueApexCharts},
        data() {
            return {
                rawData:[],
                page: 1,

            }
        },
        beforeMount() {

            this.loadData();
        },
        mounted() {



        },

        methods: {
            updateChart() {
                this.$refs.chartObj.updateOptions(this.options, true, false, false);
                this.$refs.chartObj.updateSeries(this.series, true);
            },
            loadNext(chartContext, { xaxis, yaxis }){
                    //this.page+=1;
                    console.log(xaxis.min);
                    var d = new Date(xaxis.min);
                    console.log(d.toString());
                    console.log(xaxis.max);
                    var d = new Date(xaxis.max);
                    console.log(d.toString());
                    //console.log(yaxis);
                    this.loadData();
                    return true;


            },
            loadData(){


                    let datasource_id = this.dashboardItem.attributes.datasource_id;
                    let sensor_data_key = this.dashboardItem.attributes.sensor_data_key;
                    let chartData=[];
                    this.getSensorData(datasource_id).then((result) => {

                        for (let key_index in sensor_data_key) {



                            let sensor_name = sensor_data_key[key_index].name;
                            if(this.page===1)
                                this.rawData[key_index]=[];


                            let prepare_chartdata = {};
                            prepare_chartdata.name = sensor_name;
                            prepare_chartdata.data = [];
                            for (let index in result) {

                                //key + sensorid = index
                                if (result[index].key == sensor_data_key[key_index].key && result[index].sensor_id == sensor_data_key[key_index].sensor_id)
                                {
                                    let t = result[index].created_at.split(/[- :]/);
                                    var d = new Date(Date.UTC(t[0], t[1] - 1, t[2], t[3], t[4], t[5]));
                                    //prepare_chartdata.data.push([d, result[index].value]);

                                     prepare_chartdata.data.push([d, result[index].value]);
                                     this.rawData[key_index].push([d, result[index].value]);
                                     if(this.rawData[key_index].length>1500)
                                     {
                                         this.rawData[key_index]=this.rawData[key_index].slice(300);
                                     }
                                }
                            }
                            if(this.page>1)
                            {
                                prepare_chartdata.data=this.rawData[key_index];
                            }
                            chartData.push(prepare_chartdata);




                        }

                        this.page=this.page+1;
                        this.$refs.chartObj.updateSeries(chartData, false);
                    });


                }
            ,
            getSensorData(datasource_id) {


                let vm = this;
                vm.loading = true;
                const token = localStorage.getItem('token');

                axios.defaults.headers.common['Authorization'] = `Bearer ${token}`;
                return axios.post('/sensorDatas/datasourID/' + datasource_id, {page: vm.page})
                        .then(({data}) => {

                            return data.data;

                        });


            },
            ...mapActions({

                    loadSensorData: 'sensorDatas/loadPage',
            }
            ),
        },
        computed: {

            series: {

                set:function(newVal){


                },

                get: function () {
                    console.log("trigger");
                    let sensor_data_key = this.dashboardItem.attributes.sensor_data_key;
                    let seriesStruct=[];
                    for (let key_index in sensor_data_key) {


                        seriesStruct.push({
                            name:sensor_data_key[key_index].name,
                            data:[]
                        });

                    }
                    return seriesStruct;
                }
            },
            options() {



                let sensor_data_key = this.dashboardItem.attributes.sensor_data_key;

                let color = [];


                for (let key_index in sensor_data_key) {




                    color.push(sensor_data_key[key_index].color.hex);


                }
                let vm = this
                let options = {
                    chart: {
                        stacked: false,
                        zoom: {
                            type: 'x',
                            enabled: true
                        },
                        toolbar: {
                            autoSelected: 'zoom'
                        },
                        events: {
                            zoomed: function (chartContext, { xaxis, yaxis }) {
                                vm.loadNext(chartContext , { xaxis, yaxis });

                            },
                            scrolled: function(chartContext, { xaxis }) {
                                vm.loadNext(chartContext , { xaxis });
                            }
                        }
                    },
                    colors: color,
                    fill: {
                        colors: color
                    },
                    plotOptions: {
                        line: {
                            curve: 'smooth',
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    markers: {
                        size: 0,
                        style: 'full',
                    },
                    xaxis: {
                        type: 'datetime',
                    },
                }

                return options;



            },
        },
        watch: {
            dashboardItem: function (val) {
		this.page=1;
                this.loadData();
                this.updateChart();
            },

        },

    }
</script>
