<template>
    <div class="white">

        <b-list-group dark>

            <b-list-group-item v-for="(item, index) in txtData" :key="index" >{{item.name}}: {{item.data}}</b-list-group-item>

        </b-list-group>
    </div>
</template>
<script>
    import VueApexCharts from 'vue-apexcharts';
    import { mapActions, mapGetters, mapSetters } from 'vuex';
    export default {
        props: ['dashboardItem'],
        name: "TextLabel",

        data() {
            return {
                txtData: []

            }
        },
        mounted() {

            this.prepare();
        },
        methods: {

            prepare() {


                let datasource_id = this.dashboardItem.attributes.datasource_id;
                let sensor_data_key = this.dashboardItem.attributes.sensor_data_key;
                let data = [];
                
                this.getSensorData(datasource_id).then((result) => {
                    for (let key_index in sensor_data_key)
                    {
                        for (let index in result) {
                            if (result[index].key == sensor_data_key[key_index].key && result[index].sensor_id == sensor_data_key[key_index].sensor_id)
                            {

                                let sensor_name = sensor_data_key[key_index].name;
                               
                                let prepare_chartdata = {};
                                prepare_chartdata.name = sensor_name;

                                prepare_chartdata.data = result[index].value;
                                data.push(prepare_chartdata);
                            }
                        }
                    }
                    this.txtData = data;
                });

            },

            getSensorData(datasource_id) {


                let vm = this;
                vm.loading = true;
                const token = localStorage.getItem('token');

                axios.defaults.headers.common['Authorization'] = `Bearer ${token}`;
                return axios.post('/sensorDatas/datasourID/' + datasource_id, {page: 1, limit: 2})
                        .then(({data}) => {

                            return data.data;

                        });


            },
            ...mapActions({

                    loadSensorData: 'sensorDatas/loadPage',

            }
            ),
        }
    }
</script>
<style>
</style>
