<template>
    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
      	<div class="user_card">
          <div class="d-flex justify-content-center">
      					<div class="brand_logo_container">
      						<img src="/images/chart.png" class="brand_logo" >
      					</div>
      				</div>
          <div class="d-flex justify-content-center form_container">
          <form>
          <b-alert variant="warning" :show="show" >{{message}}</b-alert>
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><font-awesome-icon icon="user" /></span>
            </div>
            <input type="text" name="username" autocomplete="email" class="form-control input_user" v-model="username" placeholder="email">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"><font-awesome-icon icon="key" /></span>
              </div>
              <input type="password" name=""  autocomplete="password" class="form-control input_pass" v-model="password"  placeholder="password">
            </div>
          </form>
          </div>
          <div class="d-flex justify-content-center mt-3 login_container">
            <button class="btn login_btn" @click="login">Login</button>
          </div>
          <div class="d-flex justify-content-center mt-3 login_container">
            <router-link  class="btn login_btn" tag="button" :to="{ name: 'Register'}">
            Register for free
            </router-link>
          </div>
          </div>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            username: '',
            password: '',
            message:'',
            show:false,
        };
    },

    methods: {
        login() {
            let data = {
                username: this.username,
                password: this.password
            };
            this.$store.dispatch('login', data)
                .then(() => this.$router.push('/'))
                .catch(err => {

                  this.show=true;
                  this.message=err.data.message;
                })


        }
    }
}
</script>

<style>
body,
html, .layout {
		margin: 0;
		padding: 0;
		height: 100%;

}
.user_card {
    height: 400px;
    width: 350px;
    margin-top: 200px;
    margin-bottom: auto;
    background: #3e4f6a;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

  }
  .brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #ccc;
    padding: 10px;
    text-align: center;
  }
  .brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
  }
  .form_container {
    margin-top: 100px;
  }
  .login_btn {
    width: 100%;
    background: #f7814d !important;
    color: white !important;
  }
  .login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  .login_container {
    padding: 0 2rem;
  }
  .input-group-text {
    background: #f7814d !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
  }
  .input_user,
  .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
</style>
