<template>
<div>


        <div class="row">
            <div class="col-md-6">
                <h1>{{$t('Donation')}}</h1>

                <b-form-input id="range-2" v-model="amount" type="range" min="1" max="56" step="5"></b-form-input>

                <button class='btn btn-success' v-on:click="pay()">{{$t("Donate monthly", [getPrice()])}}</button>

            </div>
            <div class="col-md-6">
                <form>
                    <b-alert variant="primary" :show="show" dismissible>{{error}}</b-alert>
                    <div class="form-group">
                      <label for="name">{{$t('Name')}}</label>
                      <input type="text" autocomplete="username" v-model="name" value="username" class="form-control" id="name" placeholder="Enter Name">

                    </div>

                    <div class="form-group">
                    <label for="mail">{{$t('EMail')}}</label>
                    <input type="email" autocomplete="email" v-model="email" value="email" class="form-control" id="mail"  placeholder="Enter email">

                    </div>
                    <div class="form-group">
                        <label for="password">{{$t('Password')}}</label>
                        <input type="password" autocomplete="new-password" name="new-password" v-model="password" class="form-control" id="password" :placeholder="$t('Password')">
                    </div>



                    <button type="submit" class="btn btn-secondary"  @click="back" >{{$t('Back')}}</button>
                    <button type="button" class="btn btn-primary"  @click="register" >{{$t('Register')}}</button>

                </form>
            </div>
        </div>

</div>
</template>

<script>


    export default {
    data() {
        return {
            amount:11,
            error:"",
            name: '',
            email: '',
            password: '',
            message:'',
            show:false,
        };
    },

    methods: {
        getPrice(){

          return new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'EUR' }).format( parseInt(this.amount)*0.90);
        },
        pay () {
            let a=parseInt(this.amount);

            var stripe = Stripe(process.env.MIX_STRIPE);
            let url=process.env.MIX_APP_URL+"/register";
            stripe.redirectToCheckout({
                items: [


                    {plan: process.env.MIX_STRIPE_PLAN, "quantity" : a}
                ],
                successUrl: url+'/success',
                cancelUrl: url+'/canceled',
            }).then(function (result) {

                this.show=true;
                this.error=result.error.message;
            });
        },


        back() {
          this.$router.push('/Login');
        },
        register() {
            let data = {
                name: this.name,
                email: this.email,
                password: this.password
            };

            axios.post('/register', data)
                .then(({data}) => {

                    this.$router.push('/Login');
                })
                .catch(({response}) => {
                  this.show=true;
                  this.error=response.data.message;
                });
        },

    }
}
</script>

<style>

</style>
