<template>
    <div >
        <div  v-if="authenticated">
            <b-navbar toggleable="lg" type="light" variant="faded">
                <b-navbar-brand class="ml-4" href="#">dash.io - <small>analytics on steroids</small></b-navbar-brand>

                <b-navbar-nav class="ml-auto">
                    <b-nav-item-dropdown text="Lang" right>
                        <b-dropdown-item v-on:click="switchLang('cn')" href="#">中文</b-dropdown-item>
                        <b-dropdown-item v-on:click="switchLang('en')" href="#">English</b-dropdown-item>
                        <b-dropdown-item v-on:click="switchLang('es')" href="#">Español</b-dropdown-item>
                        <b-dropdown-item v-on:click="switchLang('de')" href="#">Deutsch</b-dropdown-item>
                    </b-nav-item-dropdown>
                    <b-nav-item-dropdown right>

                        <template slot="button-content"><em>User</em></template>
                        <b-dropdown-item v-on:click ="settings" href="#">Settings</b-dropdown-item>
                        <b-dropdown-item v-on:click ="logout" href="#">Signout</b-dropdown-item>





                    </b-nav-item-dropdown  >
                </b-navbar-nav>
            </b-navbar>
        </div>

        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 " >
                    <b-nav vertical v-if="authenticated" >


                        <b-nav-item  :key="dashboard.id"  v-for="(dashboard, index) in  dashboards" >
                            <router-link class="btn btn-block btn-light" :to="{ name: 'ShowDashboard' , params: { id: dashboard.id }}" >{{dashboard.attributes.name}}</router-link>
                        </b-nav-item>



                        <h5 class="ml-3 mt-4">{{$t('configuration')}}</h5>

                            <b-nav-item>
                                <router-link class="btn btn-block btn-light" :to="{ name: 'ListDashboard' }"  >{{$t("Dashboard")}}</router-link>
                            </b-nav-item>
                            <b-nav-item>
                                <router-link class="btn btn-block btn-light" :to="{ name: 'ListSensor' }" >{{$t("Endpoint")}}</router-link>
                            </b-nav-item>
                            <b-nav-item>
                                <router-link class="btn btn-block btn-light" :to="{ name: 'ListDatasource' }" >{{$t("Datasource")}}</router-link>
                            </b-nav-item>
                            <b-nav-item>
                                <router-link class="btn btn-block btn-light" :to="{ name: 'LiveView' }"  >Live View</router-link>
                            </b-nav-item>
                        </b-nav>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xl-10 mt-2">

                    <router-view @style-change="onStyleChange"></router-view>

                </div>
                <div class="col-sm-1 col-md-1 col-lg-1  col-xl-1" >

                </div>

                </div>

                </div>
            </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex';

    export default {
        data() {
            return{
                style: "clean",
            }

        },
        mounted() {


            this.loadAllDashboards();

        },
        methods: {
            ...mapActions({
                    loadAllDashboards: 'dashboards/loadAll',
            }),
            switchLang(lang){
                localStorage.setItem('lang', lang);
                this.$i18n.locale=lang;
            },
            onStyleChange(val) {
                this.style = val;
                this.$emit('style-change', val);
            },
            settings: function(){
              this.$router.push('/user/settings')
            },
            logout: function () {
                this.$store.dispatch('logout')
                        .then(() => {
                            this.$router.push('/login')
                        })
            }

        },
        computed: {
            ...mapGetters({
                    dashboards: 'dashboards/all',
            }),
            authenticated() {
                return this.$store.getters.isLoggedIn
            }
        },
        watch: {
            authenticated(to, from) {
                if (to == true)
                {
                    this.loadAllDashboards();

                }

            }
        }

    }
</script>
<style>



    /* aux */

    body {
        margin: 0;
    }

    .black{
        background-color: #000;
    }

    .clean{

        background-color: #fff;

    }

    .affix {
        top: 20px;
        z-index: 9999 !important;
    }


    .header {
        background-color: #ccc;
    }

</style>
