<template>
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center">{{$t('Endpoint Configuration')}}</h1>


        </div>
        <div class="col-md-6">
            <router-link :to="{ name: 'EditSensor', params: { id: 0 }}">
                <input type="button" :value="$t('Add Endpoint')" class="btn btn-small btn-primary" >
            </router-link>

            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{$t('Endpoint')}}</th>
                        <th scope="col">{{$t('Location')}}</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="sensor in sensors">
                        <td>
                            {{ sensor.id}}
                        </td>
                        <td>
                            {{ sensor.attributes.name }}
                        </td>
                        <td>
                            {{ sensor.attributes.location }}
                        </td>
                        <td>


                            <router-link :to="{ name: 'EditSensor', params: { id: sensor.id }}">
                                <input type="button" :value="$t('edit')" class="btn btn-small btn-primary">
                            </router-link>

                            <input type="button" :value="$t('delete')" class="btn btn-small btn-danger" v-on:click="deleteSensor(sensor.id)" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex';
    export default {
        mounted() {
            this.loadAllSensors();
        },
        data() {
            return {

            };
        },
        methods: {
            ...mapActions({
                loadAllSensors: 'sensors/loadAll',
            }),


            deleteSensor(id) {
                const sensorId = { id: id };
                this.$store.dispatch('sensors/delete', sensorId);
            }
        },
        computed: {
            ...mapGetters({
              sensors : 'sensors/all',
            }),
        }
    }
</script>

<style scoped>
</style>
