<template>
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center">Live View</h1>
            <p>Current Status: {{status}}</p>

        </div>
        <div class="col-md-5">
          <b-table striped hover dark :items="liveData"  :fields="fields"></b-table>
        </div>
    </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex';
    import Echo from "laravel-echo"
    export default {
        mounted() {


            window.Echo = new Echo({
                broadcaster: 'pusher',
                key: document.head.querySelector('meta[name="ws-key"]').content,
                wsHost: document.head.querySelector('meta[name="ws-host"]').content,
                wsPort: document.head.querySelector('meta[name="ws-port"]').content,
                disableStats: true,
            });

            window.Echo.channel('public')
                .listen('.sensor.data.updated', (e) => {
                    this.liveData.push({
                      "id": e.data.id,
                      "sensor_id": e.data.attributes.sensor_id,
                      "key": e.data.attributes.key,
                      "value": e.data.attributes.value,
                      "created_at" :  e.data.attributes.created_at});
                });
            let curObj=this;
            window.Echo.connector.pusher.connection.bind("disconnected", function(){
              curObj.status="disconnected";
            });
            window.Echo.connector.pusher.connection.bind("unavailable", function(){
              curObj.status="unavailable";
            });
            window.Echo.connector.pusher.connection.bind("failed", function(){
              curObj.status="failed";
            });
            window.Echo.connector.pusher.connection.bind("connecting", function(){
              curObj.status="connecting";
            });
            window.Echo.connector.pusher.connection.bind("connected", function(){
              curObj.status="connected";
            });
        },
        data() {
            return {
              status: "connecting",
              liveData:[

              ],
              fields: [
                  {
                      key: 'id',
                      sortable: true
                  },
                  {
                      key: 'sensor_id',
                      sortable: true
                  },
                  {
                      key: 'key',
                      sortable: true
                  },
                  {
                      key: 'value',
                      sortable: true
                  },
                  {
                      key: 'created_at',
                      sortable: true
                  }
              ]
            };
        },
        methods: {

        },
        computed: {

        }
    }
</script>

<style scoped>
</style>
