<template>
    <div>
        <b-table
         ref="table" v-if="hasNext" striped hover dark
         :items="sensorPage"
         @sort-changed="sortingChanged"
         no-local-sorting
         :fields="fields"
         stacked="md"
         >
          <template v-slot:cell(action)="row">
             <b-button size="sm" @click="openEditModal(row.item, row.index, $event.target)" class="mr-1">
                 {{$t('edit')}}
             </b-button>
             <b-button size="sm" @click="deleteSensorDataItem(row.item)">
                 {{$t('delete')}}
             </b-button>
           </template>
        </b-table>
        <!-- Modal -->
        <b-modal id="modalModel"  :title="modalModel.title" @ok="save" >
          <div class="form-group">
              <label for="id">ID</label>
              <input class="form-control" v-model="modalModel.id" id="id" disabled placeholder="id">
          </div>

          <div class="form-group">
              <label for="name">Key</label>
              <input class="form-control" v-model="modalModel.key" id="key" placeholder="key">
          </div>

          <div class="form-group">
              <label for="name">Value</label>
              <input class="form-control" v-model="modalModel.value" id="value" placeholder="value">
          </div>

        </b-modal>
        <!-- Controls -->
        <button type="button" class="btn btn-warning" v-on:click="clearAll()">Clear All</button>
        <button type="button"  class="btn btn-secondary" v-if="hasNext"  v-on:click="loadNextPage(false)">{{$t('next Page')}}</button>
        <button type="button" class="btn btn-secondary"  v-if="hasPrev" v-on:click="loadNextPage(true)">{{$t('previous Page')}}</button>
        <p  v-if="hasNext">Page:{{page}}</p>

    </div>
</template>
<script>
 import { mapActions, mapGetters, mapSetters } from 'vuex';
 import Echo from "laravel-echo";
    export default {
        props: ['sensor_id'],
        name: "sensor-datatable",

        mounted() {

          this.setPageOptions();


          this.loadPage(
                  {options:this.options}
          );

          window.Echo = new Echo({
              broadcaster: 'pusher',
              key: document.head.querySelector('meta[name="ws-key"]').content,
              wsHost: document.head.querySelector('meta[name="ws-host"]').content,
              wsPort: document.head.querySelector('meta[name="ws-port"]').content,
              disableStats: true,
          });

          window.Echo.channel('public')
              .listen('.sensor.data.updated', (e) => {

                const page = this.$store.getters['sensorDatas/page'];
                // this.$store.dispatch('sensorDatas/removeRecord', page);
                // this.$refs.table.refresh()
                // this.$store.dispatch('sensorDatas/storeRecord', e.data);

                this.loadPage(
                        {options:this.options}
                ).then(() => {
                  const widgets = this.$store.getters['sensorDatas/page'];

                  this.$refs.table.refresh()
                });



            //     this.liveData.push({
            //       "id": e.data.id,
            //       "key": e.data.attributes.key,
            //       "value": e.data.attributes.value,
            //       "created_at" :  e.data.attributes.created_at});
         });

          let curObj=this;
          window.Echo.connector.pusher.connection.bind("disconnected", function(){
            curObj.status="disconnected";
          });
          window.Echo.connector.pusher.connection.bind("unavailable", function(){
            curObj.status="unavailable";
          });
          window.Echo.connector.pusher.connection.bind("failed", function(){
            curObj.status="failed";
          });
          window.Echo.connector.pusher.connection.bind("connecting", function(){
            curObj.status="connecting";
          });
          window.Echo.connector.pusher.connection.bind("connected", function(){
            curObj.status="connected";
          });



        },
        data() {
            return {

                options: {
                  'page[number]': 1,
                  'page[size]': "10",
                  'filter[sensor_id]': 1,
                  'sort' : "-created_at"
                },

                page: 1,
                pageSize:10,
                pageSort:"-created_at",

                modalModel: { id:0, created_at: '', key: '', value:'' }
                ,
                fields: [
                    {
                        key: 'id',
                        sortable: true
                    },
                    {
                        key: 'key',
                        sortable: true
                    },
                    {
                        key: 'value',
                        sortable: true
                    },
                    {
                        key: 'created_at',
                        sortable: true
                    },
                    {
                        key: 'action',
                        sortable: false
                    }
                ]
            };
        },
        methods: {
            ...mapActions({

                    loadPage: 'sensorDatas/loadPage'
            }
            ),
            setPageOptions(){
                this.options = {
                    'page[number]': this.page,
                    'page[size]': this.pageSize,
                    'filter[sensor_id]': this.sensor_id,
                    'sort' : this.pageSort
                  }

            },
            openEditModal(item, index, button){
                this.modalModel.title = `Row index: ${index}`
                this.modalModel.id = item.id;
                this.modalModel.key = item.key;
                this.modalModel.value = item.value;
                this.$root.$emit('bv::show::modal', 'modalModel', button)
            },

            save(){



              const sensorData = this.$store.getters['sensorDatas/byId']({ id: this.modalModel.id });
              sensorData.attributes.key = this.modalModel.key;
              sensorData.attributes.value = this.modalModel.value;

              const res= this.$store.dispatch('sensorDatas/update', sensorData).then(() => {

              });

            },
            deleteSensorDataItem(item){

              const sensorDataId = { id: item.id };
              this.$store.dispatch('sensorDatas/delete', sensorDataId);
            },
            clearAll(){

            },
            sortingChanged(ctx){

                let desc="";
                if(ctx.sortDesc)
                    desc="-";
                this.pageSort=desc+ctx.sortBy;
                this.setPageOptions();



                this.loadPage(
                         {options:this.options}

                );

            },
            loadNextPage(goBack = false) {


                if (goBack)
                    this.page = this.page - 1;
                else
                    this.page = this.page + 1;

                this.setPageOptions();

                this.loadPage({options:this.options});

            },


        },

        watch: {
             sensor_id: function (val) {
                this.page=1;
                this.setPageOptions();
                this.loadPage(
                        {options:this.options}
                );
              },
        },
        computed: {
            sensorPage: function(){

                let page = [];
                for (var key in this.sensorPageRaw)
                {

                    page.push({
                        value:this.sensorPageRaw[key].attributes.value,
                        key:this.sensorPageRaw[key].attributes.key,
                        id:this.sensorPageRaw[key].id,
                        created_at:this.sensorPageRaw[key].attributes.created_at  });

                }
                return page;
            },
            ...mapGetters({

                    sensorPageRaw: 'sensorDatas/page',

                    hasNext: 'sensorDatas/hasNext',
                    hasPrev: 'sensorDatas/hasPrevious',
                    },


            ),
        }
    }
</script>
