<template>
    <div class="row">
        <div class="col-md-6">

            <vue-query-builder  v-model="query" :rules="rules"></vue-query-builder>
        </div>
        <div class="col-md-6">


            <b-alert variant="success" :show="show" dismissible>{{$t('Saved')}}</b-alert>
            <form>

                <div class="form-group">
                    <label for="id">ID</label>
                    <input class="form-control" id="id" v-model="datasource.id" disabled placeholder="id" />
                </div>

                <div class="form-group">
                    <label for="name">{{$t('Name')}}</label>
                    <input class="form-control" id="name" v-model="datasource.attributes.name" placeholder="name" />
                </div>
                <div class="form-group">
                    <label for="desc">{{$t('Description')}}</label>
                    <div>
                        <textarea class="form-control"  v-model="datasource.attributes.description" id="desc" ></textarea>
                    </div>

                </div>
                <input type="button" :value="$t('delete')" class="btn btn-small btn-danger" v-on:click="deleteDatasource(datasource.id)" />
                <input type="button" :value="$t('save')" class="btn btn-small btn-primary" v-on:click="save()" />


            </form>

        </div>

         <datasource-datatable  v-bind:datasource_id="datasource.id" v-bind:query="this.query"></datasource-datatable>
        <div  v-if="loading">

            <b-spinner class="text-center" small :show="show"  label="Small Spinner" type="grow"></b-spinner>
        </div>

        <div class="col-md-12" v-if="showResults">
            <h1>Results: {{result.length}}</h1>

            <pre>
                    {{result}}
            </pre>
        </div>
    </div>
</template>
<script>
    import VueQueryBuilder from 'vue-query-builder';
    import { mapActions, mapGetters } from 'vuex';

    export default {

        name: "EditDataSource",
        components: {VueQueryBuilder},

        mounted() {
            this.loadAllSensors();

            this.$store.dispatch('sensors/loadAll')
                    .then(() => {
                        for (var sensor in this.sensors) {

                            this.rules[0].choices.push({label: this.sensors[sensor].attributes.name, value: this.sensors[sensor].id});
                        }

                    });


            this.datasource.id = this.$route.params.id;
            this.$store.dispatch('dataSources/loadById', {id: this.datasource.id})
                    .then(() => {
                        this.datasource = this.$store.getters['dataSources/byId']({id: this.datasource.id});
                        this.query=this.datasource.attributes.query;
                    });
        },
        data() {

            return {
                id: "",
                show: false,
                loading: false,
                showResults:false,
                datasource: {
                    id: "0",
                    attributes: {
                        name: "",
                        description: ""
                    }
                },
                query: {},
                result: {},
                rules: [
                    {
                        type: "select",
                        id: "sensor_id",
                        label: "Sensor",
                        choices: [],
                        operators: ['=']
                    },
                    {
                        type: "text",
                        id: "key",
                        label: "Key",
                        operators: ['=', '<', '>', '!=', 'in']
                    },
                    {
                        type: "text",
                        id: "value",
                        label: "Value",

                        operators: ['=', '<', '>', '!=']
                    },
//                    {
//                        type: "custom-component",
//                        id: "createdAt",
//                        label: "Created",
//                        operators: ["="],
//                        component: DatetimePicker,
//                        default: date("Y-m-d H:i:s")
//                    }
                ]
            }
        },
        methods: {
            ...mapActions({
                    loadAllSensors: 'sensors/loadAll',
            }),

            save() {


                if (this.datasource.id > 0)
                {
                    const datasource = this.$store.getters['dataSources/byId']({id: this.datasource.id});
                    datasource.attributes.name = this.datasource.attributes.name;
                    datasource.attributes.description = this.datasource.attributes.description;
                    datasource.attributes.query=this.query;

                    const res = this.$store.dispatch('dataSources/update', datasource).then(() => {
                        this.show = true;
                    });



                } else
                {

                    const recordData = {
                        attributes: {
                            name: this.datasource.attributes.name,
                            description: this.datasource.attributes.description,
                            query:this.query
                        },
                    };

                    this.$store.dispatch('dataSources/create', recordData).then(() => {

                        const datasource = this.$store.getters['dataSources/lastCreated'];
                        this.datasource = datasource;
                        this.show = true;
                    });

                }
            },

            deleteDatasource(id) {
                const Id = { id: id };
                this.$store.dispatch('dataSources/delete', Id);

            },

        },
        computed: {
            ...mapGetters({
                    sensors: 'sensors/all',
            }),
        }
    }
</script>

<style>
    .vue-query-builder-styled .vqb-group .rule-actions{margin-bottom:20px}.vue-query-builder-styled .vqb-rule{margin-top:15px;margin-bottom:15px;background-color:#f5f5f5;border-color:#ddd;padding:15px}.vue-query-builder-styled .vqb-rule label{margin-right:10px}.vue-query-builder-styled .vqb-group.depth-1 .vqb-rule,.vue-query-builder-styled .vqb-group.depth-2{border-left:2px solid #8bc34a}.vue-query-builder-styled .vqb-group.depth-2 .vqb-rule,.vue-query-builder-styled .vqb-group.depth-3{border-left:2px solid #00bcd4}.vue-query-builder-styled .vqb-group.depth-3 .vqb-rule,.vue-query-builder-styled .vqb-group.depth-4{border-left:2px solid #ff5722}.vue-query-builder-styled .close{opacity:1;color:#969696}@media (min-width:768px){.vue-query-builder-styled .vqb-rule.form-inline .form-group{display:block}}
</style>
