<template>
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center">{{$t('Datasource Configuration')}}</h1>

        </div>
        <div class="col-md-6">
            <router-link :to="{ name: 'EditDataSource', params: { id: 0 }}">
                <input type="button" :value="$t('Add Datasource')" class="btn btn-small btn-primary" >
            </router-link>

            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>

                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="dataSource in dataSources">
                        <td>
                            {{ dataSource.id }}
                        </td>
                        <td>
                            {{ dataSource.attributes.name }}
                        </td>

                        <td>

                            <router-link :to="{ name: 'EditDataSource', params: { id: dataSource.id }}">
                                <input type="button" :value="$t('edit')"  class="btn btn-small btn-primary">
                            </router-link>

                            <input type="button" :value="$t('delete')" class="btn btn-small btn-danger" v-on:click="deleteDatasource(dataSource.id)" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</template>

<script>

    import { mapActions, mapGetters } from 'vuex';
    export default {
        mounted() {
            this.loadAllDatasources();
        },
        data() {
            return {


            };
        },
        methods: {
            ...mapActions({
                loadAllDatasources: 'dataSources/loadAll',
            }),

            deleteDatasource(id) {
                const Id = { id: id };
                this.$store.dispatch('dataSources/delete', Id);
            },

        },
        computed: {
            ...mapGetters({
              dataSources: 'dataSources/all',
            }),
        }
    }

</script>

<style scoped>
</style>
