<template>
    <div>
        <b-table
         ref="table" striped hover dark
         :items="rawData"
         @sort-changed="sortingChanged"
         no-local-sorting
         :fields="fields"
         stacked="md"
         >
          <template v-slot:cell(action)="row">
             <b-button size="sm" @click="openEditModal(row.item, row.index, $event.target)" class="mr-1">
                 {{$t('edit')}}
             </b-button>
             <b-button size="sm" @click="deleteSensorDataItem(row.item)">
                 {{$t('delete')}}
             </b-button>
           </template>
        </b-table>
        <!-- Modal -->
        <b-modal id="modalModel"  :title="modalModel.title" @ok="save" >
          <div class="form-group">
              <label for="id">ID</label>
              <input class="form-control" v-model="modalModel.id" id="id" disabled placeholder="id">
          </div>

          <div class="form-group">
              <label for="name">Key</label>
              <input class="form-control" v-model="modalModel.key" id="key" placeholder="key">
          </div>

          <div class="form-group">
              <label for="name">Value</label>
              <input class="form-control" v-model="modalModel.value" id="value" placeholder="value">
          </div>

        </b-modal>
        <!-- Controls -->

        <button type="button"  class="btn btn-secondary"  v-on:click="loadNextPage(false)">{{$t('next Page')}}</button>
        <button type="button" class="btn btn-secondary"  v-on:click="loadNextPage(true)">{{$t('previous Page')}}</button>

        <p  >Page:{{page}}</p>

    </div>
</template>
<script>
 import { mapActions, mapGetters, mapSetters } from 'vuex';
 import Echo from "laravel-echo";
    export default {
        props: ['datasource_id', 'query'],
        name: "datasource-datatable",

        mounted() {

          this.setPageOptions();
          this.rawData=[];

          this.loadPage();




        },
        data() {
            return {

                options: {
                  'page[number]': 1,
                  'page[size]': "10",
                  'filter[sensor_id]': 1,
                  'sort' : "-created_at"
                },

                page: 1,
                pageSize:10,
                pageSort:"-created_at",
                rawData:[],
                modalModel: { id:0, created_at: '', key: '', value:'' }
                ,
                fields: [
                    {
                        key: 'id',
                        sortable: true
                    },
                    {
                        key: 'key',
                        sortable: true
                    },
                    {
                        key: 'value',
                        sortable: true
                    },
                    {
                        key: 'created_at',
                        sortable: true
                    },
                    {
                        key: 'action',
                        sortable: false
                    }
                ]
            };
        },
        methods: {


            loadPage() {


               if(this.datasource_id>0)
               {
                    this.$store.dispatch('dataSources/loadById', {id: this.datasource_id})
                    .then(() => {
                        this.datasource = this.$store.getters['dataSources/byId']({id: this.datasource_id});
                        this.run(this.datasource.attributes.query);
                    });
                }
            },
            run(query) {

                let vm = this;
                vm.loading=true;
                const token = localStorage.getItem('token');

                axios.defaults.headers.common['Authorization'] = `Bearer ${token}`;
                axios.post('/sensorDatas/query', {"query": query, page:vm.page})
                        .then(({data}) => {
                            vm.rawData= data.data;
                            vm.loading=false;
                            vm.showResults=true;
                        })
                        .catch(({response}) => {


                        });
            },
            setPageOptions(){
                this.options = {
                    'page[number]': this.page,
                    'page[size]': this.pageSize,
                    'filter[sensor_id]': this.sensor_id,
                    'sort' : this.pageSort
                  }

            },
            openEditModal(item, index, button){
                this.modalModel.title = `Row index: ${index}`
                this.modalModel.id = item.id;
                this.modalModel.key = item.key;
                this.modalModel.value = item.value;
                this.$root.$emit('bv::show::modal', 'modalModel', button)
            },

            save(){

              const sensorData = this.$store.getters['sensorDatas/byId']({ id: this.modalModel.id });
              sensorData.attributes.key = this.modalModel.key;
              sensorData.attributes.value = this.modalModel.value;

              const res= this.$store.dispatch('sensorDatas/update', sensorData).then(() => {

              });




            },
            deleteSensorDataItem(item){

              const sensorDataId = { id: item.id };
              this.$store.dispatch('sensorDatas/delete', sensorDataId);
            },
            clearAll(){

            },
            sortingChanged(ctx){

                let desc="";
                if(ctx.sortDesc)
                    desc="-";
                this.pageSort=desc+ctx.sortBy;
                this.setPageOptions();



                this.loadPage(
                         {options:this.options}

                );

            },
            loadNextPage(goBack = false) {


                if (goBack)
                    this.page = this.page - 1;
                else
                    this.page = this.page + 1;



                this.loadPage({options:this.options});

            },


        },

        watch: {
             datasource_id: function (val) {
                this.page=1;
                this.setPageOptions();
                this.loadPage();
              },
             query: function (val) {
                this.page=1;

                this.run(val);
              },
        },
        computed: {





        },

        ...mapGetters({

                sensorPageRaw: 'sensorDatas/page',

                hasNext: 'sensorDatas/hasNext',
                hasPrev: 'sensorDatas/hasPrevious',
                },


        ),
    }
</script>
